<div class="center-bottom-margin">
  <div class="btn-group" role="group">
    <button class="btn btn-primary" routerLink="/create">Create</button>
    <button class="btn btn-primary" (click)="changeView()">Change view</button>
  </div>
</div>
<div *ngIf="listView; else cardView">
  <div class="center">
    <ul class="list-group">
      <div *ngFor="let todo of todos">
        <li class="list-group-item text-white bg-secondary" routerLink="/todos/{{todo.id}}">
          <button class="btn btn-primary" routerLink="/todos/{{todo.id}}/edit">Edit</button>
          {{todo.name}}
        </li>
      </div>
    </ul>
  </div>
</div>
<ng-template #cardView>
  <div class="container">
    <div class="row">
      <div class="col" *ngFor="let todo of todos">
        <div class="card text-white bg-secondary mb-3" style="width: 18rem;" routerLink="/todos/{{todo.id}}">
          <img class="card-img-top" src="{{todo.picture}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{todo.name}}</h5>
            <p class="card-text">{{todo.description}}</p>
            <button class="btn btn-primary center" routerLink="/todos/{{todo.id}}/edit">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
